<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="card text-center">
        <div class="card-header bg-light"  th:text="${university.name}">
        </div>
        <div class="card-body">
<div class="row">
    <div class="col-sm-4">
        <h6 class="mb-0">Country</h6>
    </div>
    <div class="col-sm-8 text-secondary" th:text="${university.country}"></div>
</div><hr>
            <div class="row">
    <div class="col-sm-4">
        <h6 class="mb-0">City</h6>
    </div>
    <div class="col-sm-8 text-secondary" th:text="${university.city}"></div>
            </div><hr>
            <div class="row">
            <div class="col-sm-4">
        <h6 class="mb-0">Address</h6>
    </div>
    <div class="col-sm-8 text-secondary" th:text="${university.address}"></div>
            </div><hr>
            <div class="row">
            <div class="col-sm-4">
        <h6 class="mb-0">Pobox</h6>
    </div>
    <div class="col-sm-8 text-secondary" th:text="${university.pobox}"></div>
            </div><hr>
            <div class="row">
            <div class="col-sm-4">
        <h6 class="mb-0">Phone</h6>
    </div>
    <div class="col-sm-8 text-secondary" th:text="${university.phone}"></div>
</div>
<hr>
        </div>
        <div class="card-footer">
            <a sec:authorize="hasAuthority('delete_university')" class="btn btn-outline-dark"
               th:href="@{'/universities/'+${university.id} + '/delete'}"><i
                    class="fa fa-trash"></i>Delete</a> <a sec:authorize="hasAuthority('edit_university')" class="btn btn-outline-dark"
                                                          th:href="@{'/universities/'+${university.id} + '/edit'}"><i class="fa fa-edit"></i>Edit</a>
        </div>
    </div>
</div>
</body>
</html>