<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="card text-center">
        <div class="card-header bg-light" >Application
        </div>
        <div class="card-body">
            <div  sec:authorize="hasAuthority('view_applicant')" class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Applicant</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.applicant.username}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Family Income</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.family_income}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Siblings</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.siblings}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Study Years</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.study_years}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Accommodation Years</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.accommodation_years}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Working</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.working}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Submission Date</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${#dates.format(app.submission_date, 'dd/MM/yyyy')}"></div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Call</h6>
                </div>
                <div class="col-sm-8 text-secondary" ><div sec:authorize="!hasAuthority('view_call')" th:text="${app.call.title}"></div><strong><a class="text-dark" sec:authorize="hasAuthority('view_call')" th:href="@{'/calls/'+${app.call.id}}" th:text="${app.call.title}"/></strong>
            </div>
            </div><hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0">Status</h6>
                </div>
                <div class="col-sm-8 text-secondary" th:text="${app.status}"></div>
            </div><hr>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <div class="row ">
            <a sec:authorize="hasAuthority('delete_application')" class="btn btn-outline-dark" th:href="@{'/applications/'+ ${app.id} + '/delete'}"><i class="fa fa-trash"></i> Delete</a>
            <a sec:authorize="hasAuthority('edit_application')" class="btn btn-outline-dark" th:href="@{'/applications/'+${app.id} + '/edit'}"><i class="fa fa-edit"></i> Edit </a>
            <form sec:authorize="hasAuthority('admit_application')" method="POST" th:action="@{'/applications/'+${app.id} + '/accept'}">
                <button type="submit" name="submit" value="Accept"
                        class="btn btn-outline-dark"><i class="fa fa-check"></i>Accept</button>
            </form><form sec:authorize="hasAuthority('admit_application')" method="POST" th:action="@{'/applications/'+${app.id} + '/refuse'}">
                <button type="submit" name="submit" value="submit"
                        class="btn btn-outline-dark"><i class="fa fa-times"></i>Refuse</button>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>