<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>New Chief</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="card">
        <div class="card-header bg-light">
            New Chief
        </div>
        <div class="card-body">
            <form id="myForm" action="/chiefs/new"
                  th:object="${chief}" method="post">
                <div class="form-group ">
                    <label>Username :</label> <input th:field="*{username}"
                                                 type="text" name="username" class="form-control"
                                                 placeholder="Username" required="required" th:classappend="${not #lists.isEmpty(#fields.errors('username'))} ? is-invalid  " />
                    <div class="invalid-feedback" >
                        <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Password :</label> <input th:field="*{password}"
                                                     type="password" name="password" class="form-control"
                                                     placeholder="Password" required="required" th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? is-invalid  " />
                    <div class="invalid-feedback" >
                        <p th:each="error: ${#fields.errors('password')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Phone :</label> <input th:field="*{phone}"
                                                     type="text" name="phone" class="form-control"
                                                     placeholder="Phone" required="required" th:classappend="${not #lists.isEmpty(#fields.errors('phone'))} ? is-invalid  " />
                    <div class="invalid-feedback" >
                        <p th:each="error: ${#fields.errors('phone')}" th:text="${error}">Invalid data</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>University :</label>
                    <select th:field="*{university}" class="form-control" required="required">
                        <option th:each="university: ${universities}" th:value="${university.id}" th:text="${university.name}"></option>
                    </select>
                </div>
                <input type="submit" value="Submit"
                       class="btn btn-dark btn-custom" />
            </form>
        </div>
    </div>
</div>
</body>
</html>