<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Calls</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="card">
        <div class="card-header bg-light">
            <span class="float-left">Calls</span>
            <a sec:authorize="hasAuthority('add_call')" class="btn-sm btn-outline-dark float-right" th:href="@{/calls/new}"><i class="fa fa-plus"></i>Add Call</a>
        </div>
        <div class="card-body">
    <table id="datatable" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th class="th-sm" scope="col">Title</th>
            <th class="th-sm" scope="col">Start Date</th>
            <th class="th-sm" scope="col">End Date</th>
            <th class="th-sm" scope="col">Department</th>
            <th class="th-sm" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="call : ${calls}">
            <tr>
                <td ><strong><a class="text-dark" th:href="@{'/calls/'+${call.id}}" th:text="${call.title}"/></strong></td>
                <td th:text="${#dates.format(call.start_date, 'dd/MM/yyyy')}"></td>
                <td th:text="${#dates.format(call.end_date, 'dd/MM/yyyy')}"></td>
                <td><div  sec:authorize="!hasAuthority('view_department')" th:text="${call.department.name}"></div><strong> <a class="text-dark" sec:authorize="hasAuthority('view_department')" th:href="@{'/departments/'+${call.department.id}}" th:text="${call.department.name}"/></strong></td>
                <td><a  sec:authorize="hasAuthority('delete_call')" class="btn btn-outline-dark"
                       th:href="@{'/calls/'+ ${call.id} + '/delete'}"><i
                        class="fa fa-trash"></i></a> <a  sec:authorize="hasAuthority('edit_call')" class="btn btn-outline-dark"
                                                              th:href="@{'/calls/'+${call.id} + '/edit'}"><i class="fa fa-edit"></i></a>
                    <a  sec:authorize="hasAuthority('add_application')" class="btn btn-outline-dark"
                       th:href="@{'/calls/'+${call.id} + '/applications/new'}"><i class="fa fa-plus"></i>Create Application</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
    </div>
</div>
</body>
</html>